h2 {
  color: rgb(96, 127, 47);
  width: 50%; /*너비를 페이지의 50%로 지정*/
  text-align: center;
  font-weight: 200;
  text-decoration: underline wavy red;
  letter-spacing: 10px;
  font-family: Verdana;
}
body {
  background-color: #ffcad4;
}

button {
  background-color: #38b000;
}

input[type='password'] {
  width: 100px;
  height: 70px;
}

button:hover {
  background-color: yellow;
}

a:hover {
  text-decoration: underline red;
}

button:active {
  background-color: violet;
}

.post:nth-of-type(2n) {
  background-color: antiquewhite;
}

h2::first-letter {
  font-size: 30px;
}

div {
  width: 200px;
  height: 200px;
  background-color: #ccff33;
}

#one {
  background-color: aquamarine;
  border-width: 5px;
  border-color: black;
  border-style: dotted;
  box-sizing: border-box;
  border-radius: 30px;
}

#two {
  background-color: aqua;
  border-radius: 50%;
}

#three {
  background-color: blanchedalmond;
}
